/*HEIGHT*/
@media (max-height: 896px) {
    /*WEATHER BLOCK*/
    body .weather_block_icon__container {
        width: 150px;
    }
    /*APP*/
    body .padding {
        padding: 20px;
    }
    body .gap {
        gap: 20px;
    }
    /*ICON*/
    body .small_icon {
        width: 65px;
    }
    body .small_img {
        width: 30px;
    }
}
@media (max-height: 800px) {
    /*WEATHER BLOCK*/
    body .weather_block_icon__container {
        width: 100px;
    }
    /*SEARCH*/
    body .field__container {
        height: 50px;
    }
}
@media (max-height: 696px) {
    /*TEXT*/
    body .big_text {
        font-size: 2vw;
    }
    body .very_small_grey_text {
        font-size: 1vw;
    }
    body .small_black_text {
        font-size: 1.05vw;
    }
    body .very_big_black_text {
        font-size: 4.5vw;
    }
    /*ICON*/
    body .small_icon {
        width: 55px;
    }
    body .small_img {
        width: 25px;
    }
    body {
        overflow: scroll;
    }
    .second_container {
        height: 100%;
    }
}
@media (max-height: 658px) {
    /*TEXT*/
    body .big_text {
        font-size: 1.7vw;
    }
    body .very_small_grey_text {
        font-size: 1vw;
    }
    body .small_black_text {
        font-size: 1.05vw;
    }
    body .very_big_black_text {
        font-size: 4vw;
    }
    /*ICON*/
    body .small_icon {
        width: 45px;
    }
    body .small_img {
        width: 20px;
    }
    body .weather_block_icon__container {
        width: 100px;
    }
    /*APP*/
    body .padding {
        padding: 15px;
    }
    body .gap {
        gap: 15px;
    }
    body .air_conditions_item__container {
        gap: 0px;
    }
}
/*WIDTH*/


@media (max-width: 670px) {
    body .second_container {
        flex-direction: column;
    }
    body .container {
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .week_weather_wrapper {

    }
    .second_container {
        height: 100%;
    }
    /*TEXT*/
    body .big_text {
        font-size: 1.7vw;
    }
    body .very_small_grey_text {
        font-size: 1.5vw;
    }
    body .small_black_text {
        font-size: 1.55vw;
    }
    body .very_big_black_text {
        font-size: 4vw;
    }

}
@media  (orientation: portrait) {
    .second_container, .container {
        flex-direction: column;
    }
    .day_weather__container {
        flex-wrap: wrap;
    }
    hr {
        border: #EAECEF;
    }
    .today_forecast_item {
        width: 33%;
    }
    .week_weather_wrapper, .week_weather_items__container {
        max-width: 88%;
    }
    .week_weather_wrapper > div {
        width: 100%;
    }
    .second_container {
        height: 100%;
    }
    body {
        overflow: scroll;
    }
    body .big_text {
        font-size: 5vw;
    }
    body .very_small_grey_text {
        font-size: 1.5vw;
    }
    body .small_black_text {
        font-size: 1.45vw;
    }
    body .very_big_black_text {
        font-size: 7vw;
    }
    .weather_block_info__container {
        flex-direction: row;
        gap: 10px;
    }
    .air_conditions__container {
        flex-wrap: wrap;
    }
    .real_feel__container {
        width: 33%;
    }
}

